* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    background: #FCE0B9;

}

h1{
    text-align: center;
    display: inline-block;
}
h3{
    display: inline-block;
    padding: 10px;
}
p{
    color: #222;
    font-size: 2rem;
    font-weight: 200;
}
.spacer{
    padding-top: 4rem;
    color: #222;
    font-size: 3.4rem;
    font-weight: 400;
}
footer{
    background:#648ABE;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.image{
  display: inline-block;
  padding: 0px;
  bottom: 0;
}
.text-summary{
    background: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    border: 2.5px solid black;
}
.form-control{
    border: 2px solid black;
    height: 200px;
    width: 500px;
    border-radius: 10px;
}
.file-control{
    background-color: #648ABE;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: 600;
}
.text1-control{
    font-weight: 600;
}
.text2-control{
    font-weight: 500;
}

/* Dropdown Button */
.drop-btn {
  background-color: #648ABE;
  color: #648ABE;
  padding: 8px;
  font-size: 8px;
  border-radius: 12px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover/ added border radius */
.dropdown-content a:hover {background-color: #ddd; border-radius: 10px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-btn {background-color: #F9CD8D;}

html {
    /* font-size: 10px; */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;

    /* Does not work on Safari */
    /* scroll-behavior: smooth; */
}
a {
    text-decoration: none;
    border: none;
    color:black;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    /* or 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}
.register-container{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 4rem;
}
span{
    color:#86377b;
    filter: brightness(140%);
    font-weight: 500;
}
.heading-primary{
    color:black;
    font-size: 3rem;
    font-weight: 500;
}
.heading-secondary{
    color: #222;
    font-size: 3.4rem;
    font-weight: 400;
}
}
.nav-btn{
    display: inline-block;
    margin-left: 1rem;
    color:#ffffff;
    font-weight: 500;
    background-color: #999999;
    padding: 1rem;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08),0 2px 5px 0 rgba(0,0,0,0.08);
}
.nav-btn:hover, .nav-btn:active{
    background-color: #888888;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.08),0 10px 15px 0 rgba(0,0,0,0.08);
}
.home-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 4rem;
    font-size: 2rem;
    background-color: #648ABE;
    /*cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-txt{
    text-align: center;
}
.hero-first{
    text-align: center;
}
.hero-second{
    padding-top: 4rem;
}
.hero-cta{
    margin-top: 1.6rem;
    font-size: 2rem;
    background-color: #222222;
    color: #ffffff;
}
.nav-cta{
    background-color: #222222;
    color: #ffffff;
}
.hero-cta:hover, .hero-cta:active{
    background-color: #86377b;
    filter: brightness(140%);
    color: #ffffff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.08),0 10px 15px 0 rgba(0,0,0,0.08);
}
.nav-cta:hover, .nav-cta:active{
    background-color: #86377b;
    filter: brightness(150%);
    color: #ffffff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.08),0 10px 15px 0 rgba(0,0,0,0.08);
}
.pad-bottom{
    padding-bottom: 2rem;
}