<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Projects App">
        <title>Help</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='help.css') }}">
    </head>
    <header>
        <nav class="home-nav-bar">
            <a href="{{ url_for('index') }}">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='TSBSELogo2.png')}}">
                </a>
            <h2 class="heading-primary hero-first">Text Summarization by Sentence Extraction</h2>
            <div class= "dropdown">
            <button class="drop-btn">
                <img class="hamburger-menu-icon" src="{{url_for('static', filename='icons8-menu-30.png')}}">
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('summarize') }}">Summarize</a>
                <a href="{{ url_for('help') }}">Help</a>
              </div>
        </div>

        <!--{% if user %}                                                       {} indicates a python block
                <a class="nav-btn" href="{{ url_for('index') }}">Logout</a>
        {% else %}
                <a class="nav-btn"  href="{{ url_for('index') }}">Sign In</a>
                <a class="nav-btn nav-cta" href="{{ url_for('index') }}">Register</a>
        {% endif %}-->
            </div>
        </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h2 class="heading-secondary hero-second">Help</h2><br>
                    <div style="border:2px solid black">
                    <p class="help-screen-info" style="font-weight:500">How to use the application</p><br><br>
                    <p class="help-screen-info">Hover on the Menu Icon in the top right and click "Summarize" or click the "Go to Summarize Text" button below.</p>
                    <p class="help-screen-info">Copy + Paste text into the text box or chose a file from your computer. </p>
                        <p class="help-screen-info">Select the length of the summary from the sentences drop down menu. </p>
                        <p class="help-screen-info">Click summarize: This will lead to a summary page containing the summary and the original text. </p>
                     <div style="padding:10px">
                        <a href="{{ url_for('summarize') }}" class="home-icon">
                         <button class="home-page-summary-button">Go to Text Summarization</button>
                     </a>
                         </div>
                    </div>
                    <h2 class="heading-secondary hero-second">Algorithms</h2><br>
                    <div style="border:2px solid black">
                        <p class="help-screen-info"><strong>Distance:</strong> Selects the longest sentence in the text. If multiple sentences are requested it will display in descending order of length.
                    </p>
                        <p class="help-screen-info"><strong>Bag of words:</strong> Uses histograms to find the sentences that best resemble the overall text</p>
                    </div>
            </div>
        </div>
        <div class="shape"></div>
            <div style="padding:20px"></div>
    <footer>
            <h3 class="footer-text">UNCC 4155</h3>
        </footer>
    </body>
</html>
