<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Projects App">
        <title>Help</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='help.css') }}">
        <link rel="icon" href="{{url_for('static', filename='TSBSELogo2.png')}}">
    </head>
    <header>
        <nav class="home-nav-bar">
            <a href="{{ url_for('index') }}">
                <div class="change">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='TSBSELogo2.png')}}" alt ="Concisely Logo"
                        class="change-img">
                </div>
            </a>
            <h2 class="heading-primary hero-first">Concisely - Text Summarization by Sentence Extraction</h2>
            <div class= "dropdown">
            <button class="drop-btn">
                <img class="hamburger-menu-icon" src="{{url_for('static', filename='icons8-menu-30.png')}}">
            </button>
             <div class="dropdown-content">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('summarize') }}">Summarize</a>
                <a href="{{ url_for('help') }}">Help</a>
                <a href="{{ url_for('tutorial') }}">Tutorial</a>
                {% if user %}
                    <a href="{{ url_for('pastSummaries') }}">Past Summaries</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('register') }}">Register</a>
                    <a href="{{ url_for('login') }}">Log in</a>
                {% endif %}
              </div>
        </div>
            </div>
        </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h2 class="heading-secondary hero-second">Help</h2><br>
                    <div style="border:2px solid black">
                    <p class="help-screen-info" style="font-weight:500">List of allowed text and image formats</p><br><br>
                    <p class="help-screen-info">Text formats: PDF, DOCX, TXT</p>
                    <p class="help-screen-info">Image formats: PNG, JPEG</p>
                    <h3 class="help-screen-info">Instead of using the textbox, you can upload text and image files.
                        After uploading a file, select from one of the three algorithms (listed below) and the desired
                        number of sentences. After clicking submit, you will be directed to a new page that shows the input and output text.</h3>
                    <img style="height:500px; width:500px; border: 1px solid black;" src="{{url_for('static', filename='textexample.png')}}" alt ="PDF">
                    <p></p>
                    <img style="height:500px; width:1000px; border: 1px solid black;" src="{{url_for('static', filename='textexampleoutput.png')}}" alt ="DOCX">
                    <p></p>
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='pdf.png')}}" alt ="PDF">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='docx.png')}}" alt ="DOCX">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='txt.png')}}" alt ="TXT">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='png.png')}}" alt ="PNG">
                    <img style="height:85px; width:85px;" src="{{url_for('static', filename='jpeg.png')}}" alt ="JPEG">
                     <div style="padding:10px">
                        <a href="{{ url_for('summarize') }}" class="home-icon">
                         <button class="home-page-summary-button">Go to Text Summarization</button>
                     </a>
                         </div>
                    </div>
                    <h2 class="heading-secondary hero-second">Algorithms</h2><br>
                    <div style="border:2px solid black">
                        <p class="help-screen-info"><strong>Distance:</strong> Selects the longest sentence in the text. If multiple sentences are requested it will display in descending order of length.</p>
                        <p class="help-screen-info"><strong>Bag of words:</strong> Uses histograms to find the sentences that best resemble the overall text</p>
                        <p class="help-screen-info"><strong>Transformers:</strong> Transformer models are advanced deep learning architectures that employ self-attention mechanisms to process and understand vast amounts of textual data. These models are pre-trained on massive corpora, enabling them to generate summaries and perform various other natural language processing tasks with high accuracy and coherence. All of our 11 models have been fine-tuned for specific genres of text.</p>
                        <p class="help-screen-info"><strong>Pegasus:</strong> Based on the Transformer architecture that leverages self-supervised learning to create abstractive summaries by focusing on salient information extraction and text generation.</p>
                        <p class="help-screen-info"><strong>T5 Model:</strong> Versatile model that frames all NLP tasks as text-to-text problems, with summarization being one of its prominent applications</p>
                        <p class="help-screen-info"><strong>BART Model:</strong> Denoising autoencoder model that utilizes a bidirectional Transformer architecture for sequence-to-sequence tasks, excelling in text summarization through reconstruction and generation of coherent summaries.</p>
                    </div>
            </div>
        </div>
        <div class="shape"></div>
            <div style="padding:20px"></div>
    <footer>
            <h3 class="footer-text">UNCC 4155</h3><br>
            {% if user %}
                {{user}}
            {% endif %}
        </footer>
    </body>
</html>
