<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Projects App">
        <title>UNCC Projects App</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </head>
    <header>
        <nav class="home-nav-bar">
            <div class= "home-btn">
                <a href="{{ url_for('index') }}" class="home-icon">TopTeam</a>
            </div>
            <div class="nav-right">
                <a class="nav-btn" href="{{ url_for('index') }}"> My Projects</a>
                <a class="nav-btn" href="{{ url_for('index') }}"> New Project</a>
        {% if user %}<!--{} indicates a python block-->
                <a class="nav-btn" href="{{ url_for('index') }}">Logout</a>
        {% else %}
                <a class="nav-btn"  href="{{ url_for('index') }}">Sign In</a>
                <a class="nav-btn nav-cta" href="{{ url_for('index') }}">Register</a>
        {% endif %}
            </div>
        </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h1 class="heading-primary hero-first">The easiest task manager</h1>
                    <h2 class="heading-secondary hero-second"><span>TopTeam</span> allows a team to simply manage their projects</h2>
                    {% if user %}
                        <a class="nav-btn hero-cta" href="{{ url_for('index') }}">My Workspace</a>
                    {% else %}
                        <a class="nav-btn hero-cta" href="{{ url_for('index') }}">Sign In</a>
                        <a class="nav-btn hero-cta" href="{{ url_for('index') }}">Register</a>
                    {% endif %}

                </div>
            </div>
            
        </div>
        <div class="shape"></div>
    </body>
</html>
