<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Projects App">
        <title>Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <header>
        <nav class="home-nav-bar">
            <a href="{{ url_for('index') }}">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='TSBSELogo2.png')}}" alt ="Book Uploaded to Computer Logo">
                </a>
            <h2 class="heading-primary hero-first">Text Summarization by Sentence Extraction</h2>
            <div class= "dropdown">
            <button class="drop-btn">
                <img class="hamburger-menu-icon" src="{{url_for('static', filename='icons8-menu-30.png')}}">
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('summarize') }}">Summarize</a>
                <a href="{{ url_for('help') }}">Help</a>
              </div>
        </div>

        <!--{% if user %}                                                       {} indicates a python block
                <a class="nav-btn" href="{{ url_for('index') }}">Logout</a>
        {% else %}
                <a class="nav-btn"  href="{{ url_for('index') }}">Sign In</a>
                <a class="nav-btn nav-cta" href="{{ url_for('index') }}">Register</a>
        {% endif %}-->
            </div>
        </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h2 class="heading-secondary hero-second">Objective</h2><br>
                    <h3 class="home-screen-info">There is so much information available at our fingertips.
                        In this digital age, it is often difficult and time-consuming to determine if a body of text is what we are looking for.
                        With this application there is an efficient way to generate a concise summary of any text, text file or image!
                        <br><br>Sometimes all we need is a brief overview. Summaries are easier to understand
                        than long-winded texts filled with scientific jargon. Generating a summary with all the main points is much faster than
                        trying to skim through an entire document and comprehend the important parts.
                        The aim of this application help users decide if they would like to pass on a document
                        or read deeper into it without having to spend the time to skim or read the entire text.</h3><br><br><br>
                     <a href="{{ url_for('summarize') }}" class="home-icon">
                         <button class="home-page-summary-button">Go to Text Summarization</button>
                     </a><br><br><br><br><br><br><br><br><br><br><br>

                </div>
            </div>
        </div>
        <div class="shape"></div>
    <footer>
            <h3 class="footer-text">UNCC 4155</h3>
        </footer>
    </body>
</html>
