<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Projects App">
        <title>Summary</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='pastSums.css') }}">
        <link rel="icon" href="{{url_for('static', filename='TSBSELogo2.png')}}">
    </head>
    <header>
        <nav class="home-nav-bar">
        <a href="{{ url_for('index') }}">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='TSBSELogo2.png')}}" alt ="Concisely Logo">
                </a>
            <h2 class="heading-primary hero-first">Concisely - Text Summarization by Sentence Extraction</h2>
        <div class= "dropdown">
            <button class="drop-btn">
                <img class="hamburger-menu-icon" src="{{url_for('static', filename='icons8-menu-30.png')}}">
            </button>
             <div class="dropdown-content">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('summarize') }}">Summarize</a>
                <a href="{{ url_for('help') }}">Help</a>
                <a href="{{ url_for('tutorial') }}">Tutorial</a>
                {% if user %}
                    <a href="{{ url_for('pastSummaries') }}">Past Summaries</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('register') }}">Register</a>
                    <a href="{{ url_for('login') }}">Log in</a>
                {% endif %}
              </div>
        </div>

        <!--<h1>Text Summarization by Sentence Extraction</h1>-->
    </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h2 class="heading-secondary hero-second" style="padding:2%;">Your past summaries include:</h2>
                    {% if user %}
                        <!--% for page_index in range(num_pages) %-->
                            {% for summary_index in range(num_summaries) %}
                                {% if past_summaries_list[summary_index] %}
                                    <div class="text-summary">
                                        
                                        <a href="{{ url_for('show_summary', summary_id=past_summaries_list[summary_index].id) }}">
                                            <!--<h3>Original Text:</h3>-->
                                            <h3>Summary Title:</h3>
                                            <p class="summary-control">{{ past_summaries_list[summary_index].title }}</p>
                                            <h3>Summary:</h3>
                                            <p class="summary-control">
                                                {% for sentence in past_summaries_list[summary_index].best_summary.split('splitmehere')[1:]%}
                                                {{ sentence }}
                                                {% endfor %}
                                            </p>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        <!--% endfor %-->
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="shape" style="padding:30px"></div>
    </body>
    <footer>
        <div class = "footer">
            <h3>UNCC 4155</h3><br>
            {% if user %}
                {{user}}
            {% endif %}
        </div>
    </footer>
</html>
