<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Projects App">
        <title>Summary</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='pastSums.css') }}">
        <link rel="icon" href="{{url_for('static', filename='TSBSELogo2.png')}}">
    </head>
    <header>
        <nav class="home-nav-bar">

        <!--{% if user %}                                                       {} indicates a python block
                <a class="nav-btn" href="{{ url_for('index') }}">Logout</a>
        {% else %}
                <a class="nav-btn"  href="{{ url_for('index') }}">Sign In</a>
                <a class="nav-btn nav-cta" href="{{ url_for('index') }}">Register</a>
        {% endif %}
            </div>-->

        <a href="{{ url_for('index') }}">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='TSBSELogo2.png')}}" alt ="Concisely Logo">
                </a>
            <h2 class="heading-primary hero-first">Concisely - Text Summarization by Sentence Extraction</h2>
        <div class= "dropdown">
            <button class="drop-btn">
                <img class="hamburger-menu-icon" src="{{url_for('static', filename='icons8-menu-30.png')}}">
            </button>
             <div class="dropdown-content">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('summarize') }}">Summarize</a>
                <a href="{{ url_for('help') }}">Help</a>
                {% if user %}
                    <a href="{{ url_for('pastSummaries') }}">Past Summaries</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('register') }}">Register</a>
                    <a href="{{ url_for('login') }}">Log in</a>
                {% endif %}
              </div>
        </div>

        <!--<h1>Text Summarization by Sentence Extraction</h1>-->
    </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h2 class="heading-secondary hero-second" style="padding:2%;">Your past summaries include:</h2>

                    {% for i in range(0,len) %}
                    <div class="text-summary">
                            <h3>Original Text:</h3>
                            <p class="summary-control">{{SummariesText[i]}}</p>
                            <h3>Summary:</h3>
                            <p class="summary-control">{{Summaries[i]}}</p>
                         </div>
                            {% endfor %}

                </div>
            </div>
        </div>
        <div class="shape" style="padding:30px"></div>
    </body>
    <footer>
        <div class = "footer">
            <h3>UNCC 4155</h3>
        </div>
    </footer>
</html>
