<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Projects App">
        <title>UNCC Projects App</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='sum.css') }}">
    </head>
    <header>
        <nav class="home-nav-bar">

        <!--{% if user %}                                                       {} indicates a python block
                <a class="nav-btn" href="{{ url_for('index') }}">Logout</a>
        {% else %}
                <a class="nav-btn"  href="{{ url_for('index') }}">Sign In</a>
                <a class="nav-btn nav-cta" href="{{ url_for('index') }}">Register</a>
        {% endif %}
            </div>-->

        <a href="{{ url_for('index') }}">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='TSBSELogo2.png')}}" alt ="Book Uploaded to Computer Logo">
                </a>
            <h2 class="heading-primary hero-first">Text Summarization by Sentence Extraction</h2>
        <div class= "dropdown">
            <button class="drop-btn">
                <img class="hamburger-menu-icon" src="{{url_for('static', filename='icons8-menu-30.png')}}">
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('summarize') }}">Summarize</a>
                <a href="{{ url_for('help') }}">Help</a>
              </div>
        </div>

        <!--<h1>Text Summarization by Sentence Extraction</h1>-->
    </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h2 class="heading-secondary hero-second">The sentence(s) that best summarizes your text is: </h2>
                    {% if summary %}
                    <div class="text-summary">
                            {% for sentence in summary.best_summary.split('splitmehere')[1:]%}
                            <p class="summary-control">{{sentence}}</p>
                            {% endfor %}
                    </div>
                        <p class="spacer">Your input text: </p>
                        <div class="text-summary">
                            <p class="summary-control">{{summary.text}}</p>
                        <div>
                    {% else %}
                        <div class="text-summary">
                            <p>No summary found</p>
                        <div>
                    {% endif %}
                </div>
            </div>
                            <div style="padding:50px;">
                             <a href="{{ url_for('summarize') }}" class="home-icon">
                         <button class="home-page-summary-button">Go back to Text Summarization</button>
                     </a>
                                </div>
        </div>
        <div class="shape"></div>

    </body>
    <footer>
        <div class = "footer">
            <h3>UNCC 4155</h3>
        </div>
    </footer>
</html>
