<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Summarizer">
        <title>Summarizer</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='sum.css') }}">
        <link rel="icon" href="{{url_for('static', filename='TSBSELogo2.png')}}">
    </head>
    <header>
        <nav class="home-nav-bar">

        <!--{% if user %}                                                       {} indicates a python block
                <a class="nav-btn" href="{{ url_for('index') }}">Logout</a>
        {% else %}
                <a class="nav-btn"  href="{{ url_for('index') }}">Sign In</a>
                <a class="nav-btn nav-cta" href="{{ url_for('index') }}">Register</a>
        {% endif %}
            </div>-->

        <a href="{{ url_for('index') }}">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='TSBSELogo2.png')}}" alt ="Concisely Logo">
                </a>
            <h2 class="heading-primary hero-first">Concisely - Text Summarization by Sentence Extraction</h2>
        <div class= "dropdown">
            <button class="drop-btn">
                <img class="hamburger-menu-icon" src="{{url_for('static', filename='icons8-menu-30.png')}}">
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('summarize') }}">Summarize</a>
               <a href="{{ url_for('help') }}">Help</a>
              </div>
        </div>

        <!--<h1>Text Summarization by Sentence Extraction</h1>-->
    </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h2 class="heading-secondary hero-second">Enter your text below and click submit to generate the summary sentence.</h2>
                    <div class="new-summary-container">
                        <form action="{{ url_for('summarize') }}" method="post" enctype="multipart/form-data">
                            <div class="text-container">
                                <!--textarea name="inputText"  rows="6" cols="0" style="font-size: 2rem">Input text here...</textarea-->
                                {{form.input_text(class="form-control")}} <br/>
                                {{form.attach_text_file.label(class="text1-control")}}{{form.attach_text_file(class="text2-control")}}<br/>
                                {{form.attach_image_file.label(class="text1-control")}}{{form.attach_image_file(class="text2-control")}}<br/>
                                <!--p><input type="submit" value="Summarize"/></p-->
                                {{ form.submit_text(class="file-control")}}
                            </div>
                            <div>
                                {{form.algorithm_choice}}<br/>
                                {{form.sentence_resolution}}<br/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape"></div>
    </body>
    <div style="padding:20px"></div>
    <footer>
        <div class = "footer">
            <h3>UNCC 4155</h3>
        </div>
    </footer>
</html>
