<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Projects App">
        <title>Tutorial</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='tutorial.css') }}">
        <link rel="icon" href="{{url_for('static', filename='TSBSELogo2.png')}}">
    </head>
    <header>
        <nav class="home-nav-bar">
            <a href="{{ url_for('index') }}">
                <div class="change">
                    <img style="height:80px; width:80px;" src="{{url_for('static', filename='TSBSELogo2.png')}}" alt ="Concisely Logo"
                        class="change-img">
                </div>
            </a>
            <h2 class="heading-primary hero-first"> Concisely - Text Summarization by Sentence Extraction</h2>
            <div class= "dropdown">
            <button class="drop-btn">
                <img class="hamburger-menu-icon" src="{{url_for('static', filename='icons8-menu-30.png')}}">
            </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('summarize') }}">Summarize</a>
                    <a href="{{ url_for('help') }}">Help</a>
                    <a href="{{ url_for('tutorial') }}">Tutorial</a>
                    {% if user %}
                        <a href="{{ url_for('pastSummaries') }}">Past Summaries</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('register') }}">Register</a>
                        <a href="{{ url_for('login') }}">Log in</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <body>
        <div class="container">
            <div class="hero">
                <div class="hero-txt">
                    <h2 class="heading-secondary hero-second">Tutorial</h2><br>
                    <h3 style="text-align:center" class="home-screen-info">Copy + Paste text into the text box, choose an image file or choose a .txt file from your computer. (For more information on which formats are available for image and text uploads check out the help page or click the information icon)<a href="{{ url_for('help') }}"><img style="height:25px; width:25px;" src="{{url_for('static', filename='icons8-info-30.png')}}"></a></h3>
                    <img class="sampleImage" src="{{url_for('static', filename='copyandpaste.JPG')}}">
                    <img class="sampleImage" src="{{url_for('static', filename='textFileUpload.JPG')}}">
                    <img class="sampleImage" src="{{url_for('static', filename='imageUpload.JPG')}}">
                    <h3 class="home-screen-info">Select an algorithm from the algorithms drop down menu (For help understanding the different algorithms check out the algorithm description table in the Help page from the navigation menu in the top right)<a href="{{ url_for('help') }}"><img style="height:25px; width:25px;" src="{{url_for('static', filename='icons8-info-30.png')}}"></a></h3>
                    <img class="sampleImage" src="{{url_for('static', filename='algoSelection.JPG')}}">
                    <h3 class="home-screen-info">Select the length of the summary from the sentences drop down menu.</h3>
                    <img class="sampleImage" src="{{url_for('static', filename='sentenceSelection.JPG')}}">
                    <h3 class="home-screen-info">Press submit.</h3>
                    <img class="sampleImage" src="{{url_for('static', filename='pressSubmit.JPG')}}">
                    <h3 class="home-screen-info">Once submit is pressed, you will be navigated to the summary page containing your summary and original text</h3>
                    <img class="sampleImage" src="{{url_for('static', filename='summary.JPG')}}">
                    <h3 class="home-screen-info">Click the button below to get started!</h3><br><br>
                    <a href="{{ url_for('summarize') }}" class="home-icon">
                         <button class="home-page-summary-button">Go to Text Summarization</button>
                     </a><br><br><br><br><br><br><br><br><br><br><br>

                </div>
            </div>
        </div>
        <div class="shape"></div>
    <footer>
            <h3 class="footer-text">UNCC 4155</h3><br>
            {% if user %}
                {{user}}
            {% endif %}
        </footer>
    </body>
</html>
